  <div class="main-pattern">
  			<%= image_tag("person8.jpg", :class => 'grayscale') %>
			<%= image_tag("person21.jpg", :class => 'grayscale') %>
			<%= image_tag("person9.jpg", :class => 'grayscale') %>
			<%= image_tag("person3.jpg", :class => 'grayscale') %>
			<%= image_tag("person15.jpg", :class => 'grayscale') %>
			<%= image_tag("person16.jpg", :class => 'grayscale') %>
			<%= image_tag("person4.jpg", :class => 'grayscale') %>
			<%= image_tag("person17.jpg", :class => 'grayscale') %>
			<%= image_tag("person5.jpg", :class => 'grayscale') %>
			<%= image_tag("person18.jpg", :class => 'grayscale') %>
			<%= image_tag("person19.jpg", :class => 'grayscale') %>
			<%= image_tag("person6.jpg", :class => 'grayscale') %>
			<%= image_tag("person1.jpg", :class => 'grayscale') %>
			<%= image_tag("person12.jpg", :class => 'grayscale') %>
			<%= image_tag("person7.jpg", :class => 'grayscale') %>
			<%= image_tag("person20.jpg", :class => 'grayscale') %>
			<%= image_tag("person22.jpg", :class => 'grayscale') %>
			<%= image_tag("person9.jpg", :class => 'grayscale') %>
			<%= image_tag("person23.jpg", :class => 'grayscale') %>
			<%= image_tag("person24.jpg", :class => 'grayscale') %>
			<%= image_tag("person2.jpg", :class => 'grayscale') %>

		<h1 class="thin-font center-content">KEEBEE<span class="thick-font"> MEMORY BOX</span></h1>

	</div>






  

