<%= form_for @patient, :html => { :id => "form-in-wizard", :class => "form-horizontal", :multipart => true } do |f| %>

  <!-- Form validation not yet implemented -->
  <% if @patient.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @patient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<div class="wizard" data-initialize="wizard" id="myWizard">

  <div class="steps-container">
    <ul class="steps">
      <li data-step="1" class="active">
        <span class="badge">1</span>Profile
        <span class="chevron"></span>
      </li>
      <li data-step="2">
        <span class="badge">2</span>Background
        <span class="chevron"></span>
      </li>
      <li data-step="3">
        <span class="badge">3</span>Interests
        <span class="chevron"></span>
      </li>
      <li data-step="4">
        <span class="badge">4</span>Videos
        <span class="chevron"></span>
      </li>
      <li data-step="5">
        <span class="badge">5</span>Photos
        <span class="chevron"></span>
      </li>
    </ul>
  </div> <!-- steps-container -->


  <div class="actions">
    <button type="button" class="btn btn-default btn-prev">
      Previous</button>
    <button type="button" class="btn btn-primary btn-next" data-last="Complete">Next</button>
    <%= f.submit 'Submit', :class => 'btn btn-success patient-submit' %>
  </div> <!-- actions -->

  <div class="step-content">

    <div class="step-pane active sample-pane alert" data-step="1">
      
      <div class="container-fluid">

          <div class="column-left">
            <div id="new-profile-image">
              <div class="black-overlay">
                <h2 class="center-content text-overlay">Create a profile for your loved one.</h2>
                
              </div>
            </div>
          </div>
          
          <div class="column-right">

            <div class="center-content">

              <div class="edit-profile">

                <div class="form-group">
                  <%= f.label :first_name, :class => '' %>
                  <div class="">
                    <%= f.text_field :first_name, :class => 'form-control' %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :last_name, :class => '' %>
                  <div class="">
                    <%= f.text_field :last_name, :class => 'form-control' %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :residence, "Residence" %>
                  <%= f.select(:residence, ['Grandview Lodge', 'Pine Springs', 'Fairview', 'Heritage Home'], {}, {:class => "form-control"}) %>
                </div>

                <% if current_user.admin_user? %>
                  <div class="form-group">
                    <%= f.label :rfid_number, "RFID Number" %>
                    <%= f.text_field :rfid_number, :class => 'form-control' %>
                  </div>
                  
                <% end %>

                <% if local_assigns[:submit_form] %>
                  <%= f.submit 'Get Started', :class => 'btn btn-primary form-button' %>
                <% else %>
                  <button type="button" class="btn btn-primary btn-next" data-last="Complete"></button>
                <% end %>

              </div>

              


            </div>  

          </div>
        
      </div>
    </div>

    <div class="step-pane sample-pane alert" data-step="2">

      <div class="container-fluid profile">

          <div class="column-left">
            <div id="describe-them-image">
              <div class="black-overlay">
                <h2 class="center-content text-overlay">Tell us more about them.</h2>
              </div>
            </div>
          </div>
          
          <div class="column-right">

            <div class="edit-profile">
                
                  <h3>Basic Information</h3>

                  <div class="form-group">
                    <%= f.label :nickname, "Nickname?" , :class => '' %>
                      <div class=""> 
                        <%= f.text_field :nickname, :class => 'form-control', :placeholder => 'What is it?' %>
                      </div>
                  </div>


                    <div class="form-group">
                      <%= f.label :language, "Preferred language" , :class => '' %>
                        <div class=""> 
                          <%= f.text_field :language, :class => 'form-control', :placeholder => 'E.g. Spanish' %>
                        </div>
                    </div>

                    <div class="form-group">
                      <%= f.label :birthplace, "Birthplace?" , :class => '' %>
                        <div class=""> 
                          <%= f.text_field :birthplace, :class => 'form-control', :placeholder => 'City, Country.' %>
                        </div>
                    </div>

                    <div class="form-group">
                      <%= f.label :home_base, "Where did they live for most of their life (if different from above)?" , :class => '' %>
                        <div class=""> 
                          <%= f.text_field :home_base, :class => 'form-control', :placeholder => 'City, Country.' %>
                        </div>
                    </div>

                    <div class="form-group">
                      <%= f.label :spouse_name, "If they were married, what was their spouse's name?" , :class => '' %>
                        <div class=""> 
                          <%= f.text_field :spouse_name, :class => 'form-control', :placeholder => 'What is/was their name?' %>
                        </div>
                    </div>

                    <div class="form-group">
                      <%= f.label :children, "Any children? If so, what are their names?" , :class => '' %>
                      <p>If more than one, enter the names separated by a comma.</p>
                        <div class=""> 
                          <%= f.text_field :children, :class => 'form-control tokenize', :placeholder => 'E.g. Jane, Andrew, Simon' %>
                        </div>
                    </div>

                    <div class="form-group">
                      <%= f.label :grandchildren, "What about grandchildren?" , :class => '' %>
                      <p>If more than one, enter the names separated by a comma.</p>
                        <div class=""> 
                          <%= f.text_field :grandchildren, :class => 'form-control tokenize', :placeholder => 'E.g. Deacon, Oona, June' %>
                        </div>
                    </div>

                    <div class="form-group">
                      <%= f.label :occupation, "What was their primary occupation?" , :class => '' %>
                        <div class=""> 
                          <%= f.text_field :occupation, :class => 'form-control', :placeholder => 'E.g. Painter' %>
                        </div>
                    </div>

                    <div class="form-group">

                      <%= f.label :pets, "Any pets?" , :class => '' %>
                    <p>If more than one, enter them separated by a comma.</p>
                        <div class=""> 
                          <%= f.text_field :pets, :class => 'form-control tokenize', :placeholder => 'E.g. Sparky the Dog' %>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary btn-next" data-last="Complete"></button>
                      
              </div>
            </div>
        </div>
    </div>

    <div class="step-pane sample-pane alert" data-step="3">

      <div class="container-fluid profile">

          <div class="column-left">
            <div id="describe-them-image">
              <div class="black-overlay">
                <h2 class="center-content text-overlay">Tell us more about them.</h2>
              </div>
            </div>
          </div>
          
          <div class="column-right">

            <div class="edit-profile">
                <h3>Interests & Hobbies</h3>

                <div class="form-group row">
                  <label class="profile">Favourite Song</label>
                  <div class="col-sm-12 song-fields">


                      <%= f.nested_fields_for :songs do |song_fields| %>
                        <div class="col-sm-1">
                          <%= song_fields.label :title, "Title" , :class => 'subtitle' %>
                        </div>

                        <div class="col-sm-11">
                          <%= song_fields.text_field :title, :class => 'form-control', :placeholder => 'Song name' %>
                        </div><br>

                        <div class="col-sm-1">
                          <%= song_fields.label :artist, "Artist" , :class => 'subtitle' %>
                        </div>

                        <div class="col-sm-11">
                          <%= song_fields.text_field :artist, :class => 'form-control', :placeholder => "Song's artist" %>
                        </div>

                        <div class="col-sm-1">
                          <%= song_fields.label :url, "Link" , :class => 'subtitle' %>
                        </div>

                        <div class="col-sm-11">
                          <%= song_fields.text_field :url, :class => 'form-control', :placeholder => "YouTube or other" %>  
                        </div>
                        
                        <%= song_fields.remove_nested_fields_link ('<i class="fa fa-minus-square-o fa-2x" aria-hidden="true"></i>').html_safe %>   

                       
                      <% end %>

                      <%= f.add_nested_fields_link :songs, ('<i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i>').html_safe  %>

                </div>
                  
                </div>

                <% InterestCategory.all.each do |interest_category| %>

                <div class="form-group">
                  <%= label_tag :name, "#{interest_category.name}" , :class => '' %>

                  <p>If more than one, enter them separated by a comma.</p>
                    <div class=""> 
                      <%= text_field_tag "interests[#{interest_category.id}]", @patient.interests.where(category_id: interest_category.id).collect{|i| i.name + ","}, :class => 'form-control tokenize', :placeholder => InterestCategory.examples[interest_category.name] %>
                    </div>
                </div>

                <% end %>

                <div class="form-group">
                  <%= f.label :additional_info, "Anything else to add (greatest accomplishments, favourite memories, etc)" , :class => '' %>
                
                    <div class=""> 
                      <!-- This remains part of the Patient model (not Interest) -->
                      <%= f.text_area :additional_info, :class => 'form-control', :placeholder => '' %> 
                    </div>
                </div> 

                
                <button type="button" class="btn btn-primary btn-next" data-last="Complete"></button>
            </div>

          </div>

      </div>

    </div>

    <div class="step-pane sample-pane alert" data-step="4">

      <div class="container-fluid">
        <div class="form-group image-form">

          <%= f.label :clips, "Please share some videos that help describe their interests" %>

          <span class="btn btn-default fileinput-button">
              <i class="fa fa-upload" aria-hidden="true"></i>
                <%= file_field_tag "clips[]", type: :file, multiple: true, class: "upload"  %>
                Upload Videos
          </span>

          </div>
      </div>

          <div id="pictures-container"> 
          <%= render partial: 'videos' %>
          </div> 
    </div>

    <div class="step-pane sample-pane alert" data-step="5">

      <div class="container-fluid">

          <div class="form-group image-form">

            <%= f.label "Please share some photos (family, favourite things, etc)" %>

            <span class="btn btn-default fileinput-button">
                <i class="fa fa-upload" aria-hidden="true"></i>
                  <%= file_field_tag "images[]", type: :file, multiple: true, class: "upload"   %>
                  Upload Images
            </span>

            </div>

<% end %>
      </div><!-- container-fluid -->

        <div id="pictures-container"> 
        <%= render partial: 'photos' %>
        </div> 

        
    </div><!-- step-pane -->
    
    </div><!-- step-content -->
    
</div> <!-- wizard -->


