		
		<% if @patient.photos.length > 0 %>
			<h2 class="tag-instructions">Label your pictures using the dropdown menu or by typing your own.</h2>
		<% end %>
		

  		<% @patient.photos.each do |photo| %>

	  		<div class="photo-tile">
	  			<%= link_to image_tag(photo.image.url(:medium), class: 'media-object'), photo.image.url, target: '_blank' %>

		  		  <%= link_to patient_photo_path(@patient, photo), :class => "delete-image", :method => :delete, remote: true do %>
			  		<i class="fa fa-trash"></i>
			  <% end %>

			  <% if photo.tags != nil %>
			  
			  <ul id="photo-container-<%= photo.id %>">

			  	</ul>
			  <% end %>


			  <div class="input-group input-append dropdown combobox" data-initialize="combobox">

			  	<%= form_for Tag.new do |f| %>

			  	<div class="combobox-container">

			  		<%= hidden_field_tag "tag[photo_id]", photo.id %>
			  		

			  		<input type="text" name="tag[name]" list="tags" class="form-control tag-name" autocomplete="off" >
			  		<datalist id="tags">
			  		  	<option value="Family">
			  		  	<option value="Pets/Animals">
			  			<option value="Activities">
			  			<option value="Portrait">
		  		  		<option value="TV/Movies/Books">
			  		</datalist>

			  	</div>
			  		
			  			<%= f.submit "Tag", :class => "tag-button" %>

			  	<% end %>

			  </div>
			  
			  		

			
	  		</div>
		<% end %>