<%- model_class = Patient -%>

<div class="container">
  
  <table class="table table-striped patient-index-table">
    <thead>

      <tr>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:first_name) %></th>
        <th><%= model_class.human_attribute_name(:last_name) %></th>
        <!-- <th>Photos?</th> -->
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @patients.each do |patient| %>
        <tr>
          <td data-toggle="collapse" data-target="#data<%=patient.id%>" class="accordion-toggle"><%= link_to patient.id, patient_path(patient) %></td>
          <td data-toggle="collapse" data-target="#data<%=patient.id%>" class="accordion-toggle"><%= patient.first_name %></td>
          <td data-toggle="collapse" data-target="#data<%=patient.id%>" class="accordion-toggle"> <%= patient.last_name %></td>

          <td>
            <%= link_to 'View', patient_path(patient), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_patient_path(patient), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        patient_path(patient),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>

          </td>
        </tr>

        <tr>
          <td colspan="12" class="hiddenRow">
            <div class="accordian-body collapse" id="data<%=patient.id%>">

              <h1>Favourite Music</h1>
                <li><%= patient.favourite_music %></li>

              <h1>Favourite Activities</h1>
              
              <% if !patient.favourite_activities.nil? %>

                <% patient.activity_deliniate.each do |activity| %>
                  <li><%= activity.titlecase %></li>
                <% end %>

              <% end %>
              
              <div class="photo-container">
                <% patient.photos.each do |photo| %>
                  <%= link_to image_tag(photo.image.url(:medium), class: 'media-object'), photo.image.url, target: '_blank' %>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_patient_path,
              :class => 'btn btn-default' %>
</div>



