 <div class="fuelux">

 	<div class="wizard" data-initialize="wizard" id="myWizard">

 		<div class="steps-container">
 			<ul class="steps">
 				<li data-step="1" data-name="campaign" class="active">
 					<span class="badge">1</span>Profile Information
 					<span class="chevron"></span>
 				</li>

 				<li data-step="2" data-name="template">
 					<span class="badge">2</span>Photos
 					<span class="chevron"></span>
 				</li>
 			</ul>
 		</div>

 		<div class="actions">
 			<button type="button" class="btn btn-default btn-prev">
 				Previous</button>
 			<button type="button" class="btn btn-primary btn-next" data-last="Complete">Next</button>
 		</div>
 	<div class="step-content">
 	
 		<div class="step-pane active sample-pane alert" data-step="1">
 			
 			<div class="container-fluid profile">

				<div class="column-left">
					<div id="show-profile-image">
						<div class="black-overlay">
							<div class="center-content text-overlay">
							  <h2 class=""><%= @patient.first_name %>'s</h2><br>
							  <h1 class="thin-font">KEEBEE<span class="thick-font"> MEMORY BOX</span></h1>
							</div>
						</div>
					</div>
				</div>
				
				<div class="column-right">

					<div class="profile-content">
						<h3>Basic Information</h3>
						<table class="table">
							<tr>
								<td class="table-head">Nickname</td>
								<td><%= @patient.nickname %></td>
							</tr>

							<tr>
								<td class="table-head">Preferred Language</td>
								<td><%= @patient.language %></td>
							</tr>

							<tr>
								<td class="table-head">Birthplace</td>
								<td><%= @patient.birthplace %></td>
							</tr>

							<tr>
								<td class="table-head">Hometown</td>
								<td><%= @patient.home_base %></td>
							</tr>

							<tr>
								<td class="table-head">Spouse Name</td>
								<td><%= @patient.spouse_name %></td>
							</tr>

							<tr>
								<td class="table-head">Children</td>
								<td>
									<ul>
										<% Array(@patient.split_list(@patient.children)).each do |child| %>
										<li><%= child.titlecase %></li>
										<% end %>
									</ul>
								</td>
							</tr>

							<tr>
								<td class="table-head">Grandchildren</td>
								<td>
									<ul>
										<% Array(@patient.split_list(@patient.grandchildren)).each do |child| %>
										<li><%= child.titlecase %></li>
										<% end %>
									</ul>
								</td>
							</tr>

							<tr>
								<td class="table-head">Occupation</td>
								<td><%= @patient.occupation%></td>
							</tr>

							<tr>
								<td class="table-head">Pets</td>
								<td>
									<ul>
										<% Array(@patient.split_list(@patient.pets)).each do |pet| %>
										<li><%= pet.titlecase %></li>
										<% end %>
									</ul>
								</td>
							</tr>

						</table>

						<h3>Interests & Hobbies</h3>
						
						<table class="table">
							<tr>
								<td class="table-head">Favourite Song</td>
								<td><% @patient.songs.each do |song| %>
										<%= song.title %>
									<% end %>

								</td>
							</tr>

							<tr>
								<td class="table-head">Favourite Sports</td>
								<td>
									<ul>
										<% Array(@patient.split_list(@patient.favourite_sports)).each do |sport| %>
										<li><%= sport.titlecase %></li>
										<% end %>
									</ul>
								</td>
							</tr>

							<tr>
								<td class="table-head">Favourite Radio</td>
								<td>
									<ul>
										<% Array(@patient.split_list(@patient.favourite_radio)).each do |radio| %>
										<li><%= radio.titlecase %></li>
										<% end %>
									</ul>
								</td>
							</tr>

							<tr>
								<td class="table-head">Favourite TV/Movies</td>
								<td>
									<ul>
										<% Array(@patient.split_list(@patient.favourite_movie_tv)).each do |title| %>
										<li><%= title.titlecase %></li>
										<% end %>
									</ul>
								</td>
							</tr>

							<tr>
								<td class="table-head">Favourite Childhood Games</td>
								<td>
									<ul>
										<% Array(@patient.split_list(@patient.favourite_childhood_games)).each do |game| %>
										<li><%= game.titlecase %></li>
										<% end %>
									</ul>
								</td>
							</tr>

							<tr>
								<td class="table-head">Favourite Actors</td>
								<td>
									<ul>
										<% Array(@patient.split_list(@patient.favourite_actors)).each do |actor| %>
										<li><%= actor.titlecase %></li>
										<% end %>
									</ul>
								</td>
							</tr>

							<tr>
								<td class="table-head">Favourite Animals</td>
								<td>
									<ul>
										<% Array(@patient.split_list(@patient.favourite_animals)).each do |animal| %>
										<li><%= animal.titlecase %></li>
										<% end %>
									</ul>
								</td>
							</tr>

							<tr>
								<td class="table-head">Additional Information</td>
								<td><%= @patient.additional_info %></td>
							</tr>


						</table>
					</div>


				</div> 

 			</div>

 		</div>

 		<div class="step-pane sample-pane alert" data-step="2">

 			<div class="container-fluid">


			  		<% @patient.photos.each do |photo| %>
				  		<div class="photo-tile">
				  			<%= link_to image_tag(photo.image.url(:medium), class: 'media-object'), photo.image.url, target: '_blank' %>

					  		  <%= link_to patient_photo_path(@patient, photo), :class => "delete-image", :method => :delete do %>
						  		<i class="fa fa-trash"></i>
						  <% end %>

						  <% if photo.tags != nil %>
						  
						  <ul id="photo-container-<%= photo.id %>">
						  	<% photo.tags.each do |tag| %>
						  		<li><%= tag.name %></li>
						  	<% end %>
						  	</ul>
						  <% end %>

				  		</div>
					<% end %>

	  		</div>

 		</div>
 		
 		
 	</div>
 	


 </div>
