<div class="container-fluid profile">

		<div class="column-left">
			<div id="show-profile-image">
				<div class="black-overlay">
					<div class="center-content text-overlay">
					  <h2 class=""><%= @patient.first_name %>'s</h2><br>
					  <h1 class="thin-font">KEEBEE<span class="thick-font"> MEMORY BOX</span></h1>
					</div>
				</div>
			</div>
		</div>
		
		<div class="column-right">

			<div class="center-vertical">

				<div class="">

					<h3>Favourite Music</h3>
					<ul>
						<li><%= @patient.favourite_music %></li>

					</ul>


					<h3>Favourite Activities</h3>

					<ul>
						<% @patient.activity_deliniate.each do |activity| %>
						<li><%= activity.titlecase %></li>
						<% end %>
					</ul>

					<h3>Uploaded Photos</h3>

					  <div class="photo-container">

					  	<% @patient.photos.each do |photo| %>

					  	  <%= link_to image_tag(photo.image.url(:medium), class: 'media-object'), photo.image.url, target: '_blank' %>

<!-- 					  	  <%= link_to image_tag("ambient_activity.png"),
					  	              patient_photo_path(@patient, photo),
					  	              :method => :delete,
					  	              :class => 'btn btn-xs btn-danger' %> -->

					  	  <%= link_to patient_photo_path(@patient, photo),
					  	  			:method => :delete do %>
					  	      <i class="glyphicon-pencil"></i>
					  	  <% end %>

					  	<% end %>

					  </div>

					  
					 
					   
					  <button class="btn btn-primary"><%= link_to 'Edit Profile', edit_patient_path(@patient) %></button>

				</div>

			</div>		
			
		</div>
	
</div>
