<!DOCTYPE html>
<html>
<head>
  <title>KeebeeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>
</head>
<body>
	
	<nav class="navbar navbar-static-top">
		<%= link_to image_tag("ambient_activity.png"), root_path, :class => "aa_logo" %>
		<div class="container">

			<% if user_signed_in? %>
				<ul class="nav navbar-nav navbar-right">
					<li><%=link_to "ABOUT", patients_path %></li>
					
					<% if current_user.admin_user? %>
					
						<li><%=link_to "MY PATIENTS", patients_path %></li>

					<% else %>

							<!-- Take this away after configuring views -->

					<% end %>

					<% if current_user.patient_count > 1 %>
						<li><%= link_to "MY PROFILES", patients_path, :class => 'navbar-link' %></li>
					<% elsif current_user.patient_count == 1 %> 	
						<li><%= link_to "#{current_user.patient_label.first_name.upcase}'S PROFILE", patient_path(current_user.patient_label), :class => 'navbar-link' %></li>
					<% end %>

						<li><%= link_to 'NEW PROFILE', new_patient_path, :class => 'navbar-link' %></li>
						<li class="login-buttons"><button class="btn btn-default"><%= link_to "LOGOUT", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></button></li>
				</ul>
			<% else %>
			 	<ul class="nav navbar-nav navbar-right">
				 	<li><%=link_to "ABOUT", patients_path %></li>
				 	<li class="login-buttons"><button class="btn btn-default" ><%= link_to "REGISTER", new_user_registration_path %></button></li>
				  	<li class="login-buttons"><button class="btn btn-default"><%= link_to "SIGN IN", new_user_session_path %></button></li>
				</ul>
			<% end %>

			
		</div>
	</nav>	

	<%= yield %>

</body>
</html>
